@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,500;1,400;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

section{
    background-image: url(./images/pattern-bg.svg), url(./images/pattern-curve.svg);
    background-position-x: 1000px, left;
    background-position-y:140px, 800px ;
    background-repeat: no-repeat;
    background-size: 700px 700px, ;
    overflow: hidden;



}


.first__testimonial, .second__testimonial{
    position: relative;
    background-image: url(./images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position-x:150px ;
    background-position-y:85px ;
    overflow:visible;
    margin: 200px 450px;
    width: 100%;
    max-width: 1150px;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: space-between;
}

.para{
    width: 700px;
    position: absolute;
    font-size: 32px;

    
}
.name{
    position: absolute;
    bottom: 50px;
    margin-left: 50px;
}
.avatar{
    box-shadow: 20px 20px 10px 10px rgba(0, 0, 0, 0.034);
}
.info{
    margin-top: 150px;
    
}
.prev, .next{
    cursor: pointer;
    border: none;
    background-color: rgb(255, 255, 255);
    width: 55px;
    height: 50px;
    margin-left: -10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}
.prev{
    border-top-left-radius:50% ;
    border-bottom-left-radius:50% ;
}
.next{
    border-top-right-radius:50% ;
    border-bottom-right-radius:50% ;
}

.next__prev{
    display: flex;
    position: absolute;
    margin-left: 645px;
    margin-top: 25px;
}
.second__testimonial{
   position:absolute;
   visibility: hidden;
   top: 0;
}


.next__btn .first__testimonial{
    opacity: 0;
    visibility: hidden;
    transition: all 400ms;
}
.next__btn .second__testimonial{
    z-index: 100;
    visibility: visible;
    opacity: 1;
}

